{% extends 'bingeworthy/base.html' %}

{% load staticfiles %}

<html>
<head>
    
</head>

{% block body_block %}



<br>
<br>
<link rel="stylesheet" type="text/css" href="{% static 'css/about-us.css' %}">


<div class="container">
<div style="text-align:center">
    <h3>About us</h3>
	<hr style="border: 0.25px solid black;" />
  </div>


      <div class="row">
						<div class="card">
							<img src={% static "images/foreignlegion.jpg" %}>
						</div>
	
						<div class="card">
								Andrew Odonnel
						</div>
						
					</div>
</div>


<div class="container">
      <div class="row">
						<div class="card">
							<img src={% static "images/foreignlegion.jpg" %}>
						</div>
	
						<div class="card">
								gamer one
						</div>
						
					</div>
</div>


<div class="container">
      <div class="row">
						<div class="card">
							<img src={% static "images/foreignlegion.jpg" %}>
						</div>
	
						<div class="card">
								Funny one
						</div>
						
					</div>
</div>


<div class="container">
      <div class="row">
						<div class="card">
							<img src={% static "images/foreignlegion.jpg" %}>
						</div>
	
						<div class="card">
								happy one
						</div>
						
					</div>
</div>
{% endblock %}






</body>
</html>