

<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
		<title>
			{% block title_block %}
			{% endblock %}
		</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>Bingeworthy</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
		<link href="https://v4-alpha.getbootstrap.com/examples/jumbotron/jumbotron.css" rel="stylesheet">
		<link href="https://v4-alpha.getbootstrap.com/examples/album/album.css" rel="stylesheet">
  </head>
	<style>
	
	</style>
	<body>
			<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

		<div>
				{% block body_block %}
				{% endblock %} 
		</div>
    <div class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
				{% if user.is_authenticated %}
				<form action="/bingeworthy/">
					<a class="btn btn-secondary" href="/bingeworthy/logout/" role="button">Logout</a>
					<a class="btn btn-secondary" href="/bingeworthy/user/my-account/" role="button">My Account</a>
					<a class="btn btn-secondary" href="/bingeworthy/user/profile/{{ user.username }}" role="button">My Profile</a>
				</form>
				{% else %}
				<form action="/bingeworthy/">
					<a class="btn btn-secondary" href="/bingeworthy/login/" role="button">Login/Signup</a>
				</form>
				{% endif %}
				<!-- <div class = "topright">
				<input type="text" placeholder="Search">
				<a class="btn btn-secondary" role="button">Search</a>
				</div> -->
				<div class="topright">
				<form method="post" class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}">
				{% csrf_token %}
					<input name="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
				<div class="topcentre">
							<a href="/bingeworthy/"><img src={% static "images/big-logo.png" %} width = "200" ></a>
						
					</div>
			</div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="middlecentre">
      <div class="container">
						<!-- <img src={% static "images/ironThrone.jpg" %} > -->
      </div>
    </div>


      <hr>

      <footer>
							<div class = "imagegang">
							<a href="{% url 'about' %}">About us</a>
							</div>
							<div class = "imagegang">
							<a href="{% url 'contact_us' %}">Contact us</a>
							<br /> {% if user.is_authenticated %}
							user: {{ user.username }}
							{% endif %}
							</div>
							<div class = "imagegang">
							<a href="{% url 'faq' %}">FAQ</a>
							</div>
      </footer>
		</div> <!-- /container -->
		


	</body>
	 <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://v4-alpha.getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</html>


