{% extends 'bingeworthy/base.html' %}

{% load staticfiles %}

<html>
<head>
    

</head>

{% block body_block %}

<style>

</style>


<br>
<br>

<link rel="stylesheet" type="text/css" href="{% static 'css/faq.css' %}">

<div class="container">
<div style="text-align:center">
    <h3>FAQ</h3>
	<hr style="border: 0.25px solid black;" />
  </div>



      <strong>Q: Who are you</strong>
	  <br>
	  A: Students
	  <br>
	  <br>
	  
	  <strong>Q: How do I make a review</strong>
	  <br>
	  A: Goto the specific show page and make a review at the bottom of the page.
	  <br>
	  <br>
	  
	  <strong>Q: Where do I log-out</strong>
	  <br>
	  A: You can logout by clicking the button in the top left corner.
	  <br>
	  <br>
	  
	  <strong>Q: How do I delete a show</strong>
	  <br>
	  A: You dont
	  <br>
	  <br>
	  
	  <strong>Q: What is up with the about page</strong>
	  <br>
	  A: if you know you know, team harris signing off
	  <br>
	  <br>
	  
	  
</div>



{% endblock %}






</body>
</html>