{% extends 'bingeworthy/base.html' %}

{% load staticfiles %}

<html>


{% block body_block %}
<br>
<br>
<style>



</style>



<link rel="stylesheet" type="text/css" href="{% static 'css/genres.css' %}">

<div class = "container">

    <div style="text-align:center">
    <h3>Genres</h3>
	<hr style="border: 0.25px solid black;" />
    <div class="row">
      <br>
      {% for genre1 in genres %}
      
      <div class = "container">
        <div class = "big">
            <h3 id="{{ genre1.genre }}">{{ genre1.genre }}</h3>
          

        </div>
          
          <br>
          <hr style="border: 0.25px solid black;" />

      {% for show in shows %}
	  
              {% if genre1.genre == show.genre.genre %}
              
				
                  <a href="{% url 'shows_show' show.slug %}"> {{show}}</a>
                  
              <br><br>
              {% endif %}
              {% endfor %}
              <hr style="border: 0.25px solid black;" />

      </div>      
         
			   
			  
       
            
				
        
        </div>
        		  
              {% endfor %}

      </div>
{% endblock %}







</body>
</html>