{% extends 'bingeworthy/base.html' %}

{% load staticfiles %}

<html>


{% block body_block %}
<br>
<br>
<style>


</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

<div class="jumbotron">
	<div class="container">
			<a href="{% url 'shows_show' featured.slug %}"><img src={% static "images/officeBanner.jpg" %} ></a>
			<p class="jumbotron-heading">Featured Show</p></div>
	</div>
</div>
<div class = linkscontainer>
    <div class="row">
      <div class="col-sm">
          <div class="card">
              <a href="{% url 'shows_top' %}"><img src={% static "images/TRSThumb.jpg" %}></a>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
              <a href="{% url 'genres' %}"><img src={% static "images/GThumb.jpg" %}></a>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
              <a href="{% url 'reviews' %}"><img src={% static "images/RThumb.jpg" %}></a>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
              <a href="{% url 'shows' %}"><img src={% static "images/ASThumb.jpg" %}></a>
          </div>
        </div>
        </div>
      </div>
{% endblock %}







</body>
</html>