{% extends 'bingeworthy/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}


<style>

</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/make-review.css' %}">


<br>
<br>


<div class="container">
    <form id="review" method="post" action="{% url 'make_review' show.slug %}">
    {{ form.errors }}
    {{ form.non_field_errors }}
    {% csrf_token %}
        <div style="text-align:center">
          <h3><a href="{% url 'shows_show' show.slug %}">{{show.title}}</a></h3>
          <hr style="border: 0.25px solid black;" />
        </div>
        {% if alreadyReviewed %}
        <h2>You have already made a review. You cannot make another.</h2>
        {% elif viewershipCheck %}
        <div class="row">
						<div class="cardphater">
              <br>
              <img src="{{ MEDIA_URL }}{{show.slug}}-thumb.jpg" alt="Show Thumbnail" style="margin-left:5%" a/>
						</div>
						
						<div class="cardphat">
                <div class="rowmiddle">
				          <div class="containerbody">
                      <div class="mx-auto" style="width: 200px;">
                          <h4>Review Title</h4>
                        <input type="text" name="title" class="yeet">
                      </div>
					        </div>
                </div>
                <div class="rowbottom">
                  <div class="mx-auto" style="width: 133px;">
                  </div>
                  <hr width=100% color = black>
                  <div class = "containerbody">
                    <div class="mx-auto" style="width: 200px;">
                        <h4>Star rating</h4>
                      <img src={% static "images/star.png" %} width=40 height=40 style = "float:left">
							        <input type="number" max=10 min=1 name="star_rating" size="50" class = "yeet" ><br><br>
                    </div>
							    </div>
                  <hr width=100% color = black>    
                </div>     
						  </div>
            </div>
					  <div class="containerbody">
                <h4>Review Body</h4>
                <br>
						    <input type="text" name="review_body" class = "yeet" style="width:100%"><br>
              <input type="submit" value="Send" class = "btn btn-secondary">
            </div>
            {% else %}
            <h2>You have not watched this show. Please judge it first if you wish to review it.</h2>
            {% endif %}
          </form>
</div>










{% endblock %}