{% extends 'bingeworthy/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}


<style>
body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  
  width: 0%;
  padding: .75rem;
  margin-bottom: 2rem;
    background-color: #f2f2f2;
  border: 0;
}

.cardphat{
  
  width: 55%;
  padding: .75rem;
  margin-bottom: 2rem;
    background-color: #f2f2f2;
  border: 0;
}

.cardphater{
  
  width: 35%;
  padding: .75rem;
  margin-bottom: 2rem;
    background-color: #f2f2f2;
  border: 0;
  /* border:2px solid blue; */
}
div.cardmediumphat{
  position:absolute;
  width: 33.33%;
  height:10%;

  border: 0;
  /* border:2px solid pink; */
}
.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
.container {
width:70%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.containerhero {
width:70%;
margin-left:20%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.star{
width:100%;
margin-top:10%;


}
.containerbody {
width:100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  font-size:25px;
  
  
}


.containerstar {
width:100;
margin-left:50%;
margin-top:15%;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size:30px;
  
  
.rowtop{
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:16%;
  border:2px solid orange;
}
.rowmiddle{
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:25%;
  border:2px solid orange;
}
.rowbottom{
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:55%;
}
.col{
  position:absolute;
}

.lcontainer {
width:100%;
  
  height:100%;
}
.divey {
width:50%;
  float:left;
  height:100%;
  
}
.diveylad {
  width:42%;
  float:left;
  height:67%;


  margin-top: 0.01%;
  margin-bottom:3%;
  margin-left:4%;
  margin-right:3%;
}
.yeet {
  width:100%;
  height:60px;
  
}
.yeetbody {
  width:100%;
  height:150px;
  
}

</style>


<br>
<br>


<div class="container">
    <form id="review" method="post" action="{% url 'make_review' show.slug %}">
    {{ form.errors }}
    {{ form.non_field_errors }}
    {% csrf_token %}
        <div style="text-align:center">
          <h3><a href="{% url 'shows_show' show.slug %}">{{show.title}}</a></h3>
          <hr style="border: 0.25px solid black;" />
        </div>
        {% if alreadyReviewed %}
        <h2>You have already made a review. You cannot make another.</h2>
        {% elif viewershipCheck %}
        <div class="row">
						<div class="cardphater">
              <br>
              <img src="{{ MEDIA_URL }}{{show.slug}}-thumb.jpg" alt="Show Thumbnail" style="margin-left:5%" a/>
						</div>
						
						<div class="cardphat">
                <div class="rowmiddle">
				          <div class="containerbody">
                      <div class="mx-auto" style="width: 200px;">
                          <h4>Review Title</h4>
                        <input type="text" name="title" class="yeet">
                      </div>
					        </div>
                </div>
                <div class="rowbottom">
                  <div class="mx-auto" style="width: 133px;">
                  </div>
                  <hr width=100% color = black>
                  <div class = "containerbody">
                    <div class="mx-auto" style="width: 200px;">
                        <h4>Star rating</h4>
                      <img src={% static "images/star.png" %} width=40 height=40 style = "float:left">
							        <input type="number" max=10 min=1 name="star_rating" size="50" class = "yeet" ><br><br>
                    </div>
							    </div>
                  <hr width=100% color = black>    
                </div>     
						  </div>
            </div>
					  <div class="containerbody">
                <h4>Review Body</h4>
                <br>
						    <input type="text" name="review_body" class = "yeet" style="width:100%"><br>
              <input type="submit" value="Send" class = "btn btn-secondary">
            </div>
            {% else %}
            <h2>You have not watched this show. Please judge it first if you wish to review it.</h2>
            {% endif %}
          </form>
</div>










{% endblock %}