{% extends 'bingeworthy/base.html' %}

{% load staticfiles %}

<html>


{% block body_block %}
<br>
<br>
<style>



</style>



<link rel="stylesheet" type="text/css" href="{% static 'css/shows.css' %}">

<div class = "container">
    <div class="row">
      {% for show in shows %}
	  <div class="col-sm">
          <div class="card">
               {{show.title}}
			   <br>
			   
				<div class = "yes">
				
				<a href="{% url 'shows_show' show.slug %}"><img src="{{ MEDIA_URL }}{{show.slug}}-thumb.jpg" width = "200" height="200" alt="Show Thumbnail" ></a>
				</div>
				
          </div>
        </div>
        		  {% endfor %}

      </div>
{% endblock %}







</body>
</html>