{% extends 'bingeworthy/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}


<style>
body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  
  width: 10%;
  padding: .75rem;
  margin-bottom: 2rem;
    background-color: #f2f2f2;
  border: 0;
  /* border:2px solid blue; */
}

.cardphat{
  
  width: 55%;
  padding: .75rem;
  margin-bottom: 2rem;
    background-color: #f2f2f2;
  border: 0;
  /* border:2px solid blue; */
}

.cardphater{
  
  width: 35%;
  padding: .75rem;
  margin-bottom: 2rem;
    background-color: #f2f2f2;
  border: 0;
  /* border:2px solid blue; */
}
div.cardmediumphat{
  position:absolute;
  width: 33.33%;
  height:10%;

  border: 0;
  /* border:2px solid pink; */
}
.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
.container {
width:70%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  /* border:2px solid red; */
}
.rowtop{
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:16%;
  /* border:2px solid orange; */
  margin-bottom:10px;
}
.rowmiddle{
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:25%;
  /* border:2px solid orange; */
  margin-bottom:10px;
}
.rowbottom{
  margin-left:auto;
  margin-right:auto;
  width:100%;
  height:55%;
  /* border:2px solid orange; */
}
.col{
  position:absolute;
  /* border:2px solid pink; */
}

.lcontainer {
width:100%;
  
  height:100%;
  /* border:2px solid red; */
}
.divey {
width:33.33%;
  float:left;
  height:100%;
  /* border:2px solid red; */
}
.diveylad {
  width:23%;
  float:left;
  height:67%;
  /* border:2px solid red; */
  margin-top: 0.01%;
  margin-bottom:3%;
  margin-left:3%;
  margin-right:7%;
}
#viewer {
   
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 20%;
  height: auto;
  margin-left: -200px;
  margin-top: -150px;
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  z-index: 10;
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}

</style>


<br>
<br>


<div class="container">
<div style="text-align:center">
    <h3>{{show.title}}</h3>
	<hr style="border: 0.25px solid black;" />
  </div>


      <div class="row">
						<div class="cardphater">
              <br>
              <img src="{{ MEDIA_URL }}{{show.slug}}-thumb.jpg" alt="Show Thumbnail" style="margin-left:5%" a/>
              <div style="margin-top:5%;margin-right:33%">
                
                {% if viewed %}
                  {% if viewed.judgement %}
                  <button style="float:right" class= "btn btn-secondary btn-lg" onclick="displayV()">I liked it! Vote again?</button>
                  {% else %}
                  <button style="float:right" class= "btn btn-secondary btn-lg" onclick="displayV()">I disliked it! Vote again?</button>
                  {% endif %}

                  {% else %}
                  <button style="float:right" class= "btn btn-secondary btn-lg" onclick="displayV()">Watched it?</button>
                  {% endif %}
                  <div id="viewer">
                  <button class="close" onclick="hideV()">Close</button>
                  <h2>Did you like or dislike the show?</h2>
                  <form id="viewed" method="post" action="{% url 'shows_show' show.slug %}">
                  {% csrf_token %}
                  <input name="like" value="submit" style="float: left" type="image" src= {% static "images/thumbsup.png" %} height="100" width="100"/>
                  <input name="dislike" value="submit" style="float: right" type="image" src= {% static "images/thumbsdown.png" %} height="100" width="100"/>
                  </form>
                  </div>
                  <script>
                  function displayV() {
                    document.getElementById("viewer").style.display = "block";
                  }
                  function hideV() {
                    document.getElementById("viewer").style.display = "none";
                  }
                  </script>
                  </div>
						</div>
	
	
						<div class="card">
								
						</div>
						
						<div class="cardphat">
                <div class="rowtop">
                        <div class="divey">
                            <img src={% static "images/star.png" %} width=50 height=50 style = "float:left;margin-top:5%">
                            <font size=7> {{ star_rating }} /10</font>
                        </div>
                        <div class="divey">
                            <img src={% static "images/thumbsup.png" %} width=50 height=50 style = "float:left;margin-top:4%">
                            <font size=7>{{ like_ratio }} %</font>
                          </div>
                          <div class="divey">
                            <div style="margin-top:5%">
                              <form action="/bingeworthy/">
                                <a style = "float:right" class="btn btn-secondary btn-lg" href="{% url 'make_review' show.slug %}" role="button">Make a review</a>
                              </form>
                            </div>
                          </div>
                  
                </div>
                <div class="rowmiddle">
                    <font size=5>{{show.blurb}}</font><br />
                    Starring: {{ show.starring }}   --  Genre: <a href="{% url 'genres' %}#{{ show.genre.genre }}">{{ show.genre.genre }}</a>  --  Platform: <a href="{% url 'platforms' %}#{{ show.platform.platform }}">{{ show.platform.platform }}</a>
                  </div>
                  <div class="rowbottom">
                      <div class="mx-auto" style="width: 133px;">
                          <font size=4><strong>Shows Like This</strong></font>
                        </div>
                        <hr width=140px color = black>
                      <div class="diveylad">
                          <a href="{% url 'shows_show' show1.slug %}"><img src="{{ MEDIA_URL }}{{show1.slug}}-thumb.jpg" width = "200" height="200" alt="Show1 Thumbnail" a/></a>

                        </div>
                        <div class="diveylad">
                            <a href="{% url 'shows_show' show2.slug %}"><img src="{{ MEDIA_URL }}{{show2.slug}}-thumb.jpg" width = "200" height="200" alt="Show2 Thumbnail" a/></a>
                          </div>
                          <div class="diveylad">
                              <a href="{% url 'shows_show' show3.slug %}"><img src="{{ MEDIA_URL }}{{show3.slug}}-thumb.jpg" width = "200" height="200" alt="Show3 Thumbnail" a/></a>
                            </div>
                    </div>
              
              
						</div>
						
						
					</div>
</div>





<!-- <style>
  .container{
  position:relative;
  border: 2px solid red;
  width:85%;
  padding-right:0px;
  padding-left:0px;		
}
.innercontainer{
  position:relative;
  border: 2px solid red;
  padding-right:0px;
  padding-left:0px;	
  float:left;
}
</style>
<br>
<br>
<div class = "container">
  <div class = "column">
      <div class="card">
          <a href="{% url 'shows_top' %}"><img src={% static "images/the-office-thumb.jpg" %}></a>
      </div>
  </div>
  <div class = "column">
    <div class = "row">
        <form action="/bingeworthy/">
          <a class="btn btn-secondary" href="{% url 'make_review' show.slug %}" role="button">Make a review</a>
        </form>
    </div>
    <div class = "row">
        {{show.blurb}}
      </div>
      <div class = "row">

      </div>
    
  </div>
</div>
<div class=column>
<div class="container">
  <div class = "row">
    <div class = card>
    </div>
    <div class = card>
    </div>
    <div class = card>
        <form action="/bingeworthy/">
          <a class="btn btn-secondary" href="{% url 'make_review' show.slug %}" role="button">Make a review</a>
        </form>
    </div>
  </div>
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <a href="{% url 'shows_top' %}"><img src={% static "images/the-office-thumb.jpg" %}></a>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
                {{show.blurb}}
            </div>
          </div>
        </div>
      </div>
  <div class=row>
  <div class="col">
  </div>
  <div class="col">
  </div>
  <div class="col">
    <div class = row>
      <div class = innercontainer>
      <form action="/bingeworthy/">
        <a class="btn btn-secondary" href="{% url 'make_review' show.slug %}" role="button">Make a review</a>
      </form>
    </div>
    </div>
      <div class = row>
        <div class = container>
          {{show.blurb}}
        </div>
      </div>
  </div>
  </div>
  <div class=row>
  <div class="col col-lg-2" style = "float:right">
    <img src={% static "images/the-office-thumb.jpg" %}>
    <img src = {{ show.picture }} >
  </div>
</div>
</div> -->
<!-- <div class = column>
  <div class = ndcontainer>
      {{show.blurb}}
  </div>
</div> -->
  <!-- <div class="col col-lg-2">
    {{show.blurb}}
  </div> -->

</div>
</div>
<br>
<br>
<br>
<div class="container">
    <hr style="border: 0.25px solid #909090;" />
{% for review in reviews %}
<li class="media">
  <form id="vote" name={{review.reviewer.username}} class="form-inline" method="post" action="{% url 'shows_show' show.slug %}">
  {% csrf_token %}
  <input hidden name="author" value={{review.reviewer.username}}> <!--this is a hidden input so the form can send the name of the reviewer, otherwise you can't get the review object in views-->
  <input type="image" value="submit" name="upvote" src={% static "images/upvote.png" %} class="mr-3" height="32" width="32">
    <input type="image" value="submit" src={% static "images/downvote.png" %} class="mr-3" height="32" width="32" name="downvote" style = "margin-top:1.3%">
  </form>
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{review.title}} -- By <a href="{% url 'user_profile' review.reviewer.username %}">{{ review.reviewer }}</a> ({{review.upvote_count}})</h5>
      {{review.review_body}}
      <hr style="border: 0.25px solid black;" />
    </div>
    <br>
  </li>
{% endfor %}
</div>
<!-- <div class="container">
<ul class="list-unstyled">
        <li class="media">
          <img src={% static "images/upvote.png" %} class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
        <li class="media my-4">
          <img src="..." class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
        <li class="media">
          <img src="..." class="mr-3" alt="...">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </li>
      </ul>
    </div> -->
{% endblock %}