{% extends 'bingeworthy/base.html' %}
{% load staticfiles %}

{% block title_block %}
{% endblock %}

{% block body_block %}


<style>


</style>


<br>
<br>
<link rel="stylesheet" type="text/css" href="{% static 'css/show.css' %}">


<div class="container">
<div style="text-align:center">
    <h3>{{show.title}}</h3>
	<hr style="border: 0.25px solid black;" />
  </div>


      <div class="row">
						<div class="cardphater">
              <br>
              <img src="{{ MEDIA_URL }}{{show.slug}}-thumb.jpg" alt="Show Thumbnail" style="margin-left:5%" a/>
              <div style="margin-top:5%;margin-right:33%">
                
                {% if viewed %}
                  {% if viewed.judgement %}
                  <button style="margin-left:35%; background-color: #439317; color:white" class= "btn btn-secondary btn-lg" onclick="displayV()">I liked it! Vote again?</button>
                  {% else %}
                  <button style="margin-left:32%; background-color: #a30e0e; color:white" class= "btn btn-secondary btn-lg" onclick="displayV()">I disliked it! Vote again?</button>
                  {% endif %}

                  {% else %}
                  <button style="margin-left:47%" class= "btn btn-secondary btn-lg" onclick="displayV()">Watched it?</button>
                  {% endif %}
                  <div id="viewer">
                  <button class="close" onclick="hideV()">Close</button>
                  <h2>Did you like or dislike the show?</h2>
                  <form id="viewed" method="post" action="{% url 'shows_show' show.slug %}">
                  {% csrf_token %}
                  <input name="like" value="submit" style="float: left" type="image" src= {% static "images/thumbsup.png" %} height="100" width="100"/>
                  <input name="dislike" value="submit" style="float: right" type="image" src= {% static "images/thumbsdown.png" %} height="100" width="100"/>
                  </form>
                  </div>
                  <script>
                  function displayV() {
                    document.getElementById("viewer").style.display = "block";
                  }
                  function hideV() {
                    document.getElementById("viewer").style.display = "none";
                  }
                  </script>
                  </div>
						</div>
	
	
						<div class="card">
								
						</div>
						
						<div class="cardphat">
                <div class="rowtop">
                        <div class="divey">
                            <img src={% static "images/star.png" %} width=50 height=50 style = "float:left;margin-top:5%">
                            <font size=7> {{ star_rating }} /10</font>
                        </div>
                        <div class="divey">
                            <img src={% static "images/thumbsup.png" %} width=50 height=50 style = "float:left;margin-top:4%">
                            <font size=7>{{ like_ratio }} %</font>
                          </div>
                          <div class="divey">
                            <div style="margin-top:5%">
                              <form action="/bingeworthy/">
                                <a style = "float:right" class="btn btn-secondary btn-lg" href="{% url 'make_review' show.slug %}" role="button">Make a review</a>
                              </form>
                            </div>
                          </div>
                  
                </div>
                <div class="rowmiddle">
                    <font size=5>{{show.blurb}}</font><br />
                    Starring: {{ show.starring }}   --  Genre: <a href="{% url 'genres' %}#{{ show.genre.genre }}">{{ show.genre.genre }}</a>  --  Platform: <a href="{% url 'platforms' %}#{{ show.platform.platform }}">{{ show.platform.platform }}</a><br />
                    Episodes: {{ show.num_episodes }}  --  Seasons: {{ show.num_season }}  --  Episode Runtime: {{ show.ep_runtime }} minutes
                  </div>
                  <div class="rowbottom">
                      <div class="mx-auto" style="width: 133px;">
                          <font size=4><strong>Shows Like This</strong></font>
                        </div>
                        <hr width=140px color = black>
                      <div class="diveylad">
                          <a href="{% url 'shows_show' show1.slug %}"><img src="{{ MEDIA_URL }}{{show1.slug}}-thumb.jpg" width = "200" height="200" alt="Show1 Thumbnail" a/></a>

                        </div>
                        <div class="diveylad">
                            <a href="{% url 'shows_show' show2.slug %}"><img src="{{ MEDIA_URL }}{{show2.slug}}-thumb.jpg" width = "200" height="200" alt="Show2 Thumbnail" a/></a>
                          </div>
                          <div class="diveylad">
                              <a href="{% url 'shows_show' show3.slug %}"><img src="{{ MEDIA_URL }}{{show3.slug}}-thumb.jpg" width = "200" height="200" alt="Show3 Thumbnail" a/></a>
                            </div>
                    </div>
              
              
						</div>
						
						
					</div>
</div>

</div>
</div>
<br>
<br>
<br>
<div class="container">
    <hr style="border: 0.25px solid #909090;" />
{% for review in reviews %}
{% for key, values in review_votes.items %}
{% if key == review %}
<li class="media">
  <form id="vote" name={{review.reviewer.username}} class="form-inline" method="post" action="{% url 'shows_show' show.slug %}">
  {% csrf_token %}
  <input hidden name="author" value={{review.reviewer.username}}> <!--this is a hidden input so the form can send the name of the reviewer, otherwise you can't get the review object in views-->
  <input type="image" value="submit" name="upvote" src={% static values.0 %} class="mr-3" height="32" width="32">
  <input type="image" value="submit" src={% static values.1 %} class="mr-3" height="32" width="32" name="downvote" style = "margin-top:1.3%">
  </form>
    <div class="media-body">
      <h5 class="mt-0 mb-1">{{review.title}} -- By <a href="{% url 'user_profile' review.reviewer.username %}">{{ review.reviewer }}</a> ({{review.upvote_count}})</h5>
      {{review.review_body}}
      <hr style="border: 0.25px solid black;" />
    </div>
    <br>
  </li>
{% endif %}
{% endfor %}
{% endfor %}
</div>
{% endblock %}